<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hang.toilethrmanagement.mapper.AttendanceMapper">

    <select id="getAttendanceList" resultType="attendance">
        SELECT *
        FROM attendance
        <where>
            <if test="query != '' and query != null">
                staff_id IN
                (SELECT id FROM staff
                WHERE name REGEXP #{query})
            </if>
        </where>
        LIMIT #{pageNum}, #{pageSize}
    </select>

    <update id="updateAttendanceById" parameterType="attendance">
        UPDATE attendance
        <set>
            <if test="staffId != '' and staffId != null">
                staff_id = #{staffId},
            </if>
            <if test="arriveTime != null">
                arrive_time = #{arriveTime},
            </if>
            <if test="leaveTime != null">
                leave_time = #{leaveTime}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <insert id="addAttendance" parameterType="attendance">
        INSERT INTO attendance
        VALUES (null, #{staffId}, #{arriveTime}, #{leaveTime}, #{lastTime})
    </insert>

    <select id="countAttendance" resultType="_int">
        SELECT COUNT(*)
        FROM attendance
        <where>
            <if test="query != '' and query != null">
                staff_id IN
                (SELECT id FROM staff
                WHERE name REGEXP #{query})
            </if>
        </where>
    </select>

</mapper>