<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hang.toilethrmanagement.mapper.EmployeeInterviewMapper">

    <select id="getEmployeeInterviewList" resultType="employeeInterview">
        SELECT *
        FROM employee_interview
        <where>
            <if test="query != '' and query != null">
                name REGEXP #{query}
            </if>
        </where>
        LIMIT #{pageNum}, #{pageSize}
    </select>

    <update id="updateEmployeeInterviewById" parameterType="employeeInterview">
        UPDATE employee_interview
        <set>
            <if test="name != '' and name != null">
                name = #{name},
            </if>
            <if test="telephone != '' and telephone != null">
                telephone = #{telephone},
            </if>
            <if test="interviewStatus != '' and interviewStatus != null">
                interview_status = #{interviewStatus},
            </if>
            <if test="interviewSituation != '' and interviewSituation != null">
                interview_situation = #{interviewSituation},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <insert id="addEmployeeInterview" parameterType="employeeInterview">
        INSERT INTO employee_interview
        VALUES (null, #{name}, #{telephone}, #{interviewStatus}, #{interviewSituation})
    </insert>

    <select id="countEmployeeInterview" resultType="_int">
        SELECT COUNT(*)
        FROM employee_interview
        <where>
            <if test="query != '' and query != null">
                name REGEXP #{query}
            </if>
        </where>
    </select>

    <select id="getEmployeeInterviewById" resultType="employeeInterview">
        SELECT *
        FROM employee_interview
        WHERE id = #{id}
    </select>

    <update id="pass">
        UPDATE employee_interview
        SET interview_status = '面试通过'
        WHERE id = #{id}
    </update>
</mapper>