<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hang.toilethrmanagement.mapper.LeaveRecordMapper">

    <select id="getLeaveRecordList" resultType="leaveRecord">
        SELECT *
        FROM leave_record
        <where>
            <if test="query != '' and query != null">
                staff_id IN
                (SELECT id FROM staff
                WHERE name REGEXP #{query})
            </if>
        </where>
        LIMIT #{pageNum}, #{pageSize}
    </select>

    <update id="updateLeaveRecordById" parameterType="leaveRecord">
        UPDATE leave_record
        <set>
            <if test="pass != '' and pass != null">
                pass = #{pass},
            </if>
            <if test="approcverId != null">
                approcver_id = #{approcverId}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <insert id="addLeaveRecord" parameterType="leaveRecord">
        INSERT INTO leave_record
        VALUES (null, #{leaveStartTime}, #{leaveEndTime}, #{leaveReason}, #{staffId}, #{pass}, #{approcverId},
                #{lastTime})
    </insert>

    <select id="countLeaveRecord" resultType="_int">
        SELECT COUNT(*)
        FROM leave_record
        <where>
            <if test="query != '' and query != null">
                staff_id IN
                (SELECT id FROM staff
                WHERE name REGEXP #{query})
            </if>
        </where>
    </select>

    <select id="queryLeaveRecordById" resultType="leaveRecord">
        SELECT *
        FROM leave_record
        WHERE id = #{id}
    </select>
</mapper>