<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hang.toilethrmanagement.mapper.PayrollMapper">

    <select id="getPayrollList" resultType="payroll">
        SELECT *
        FROM payroll
        <where>
            <if test="query != '' and query != null">
                staff_id IN
                (SELECT id FROM staff
                WHERE name REGEXP #{query})
            </if>
        </where>
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="countPayroll" resultType="_int">
        SELECT COUNT(*)
        FROM payroll
        <where>
            <if test="query != '' and query != null">
                staff_id IN
                (SELECT id FROM staff
                WHERE name REGEXP #{query})
            </if>
        </where>
    </select>

    <insert id="addPayroll" parameterType="payroll">
        INSERT INTO payroll
        VALUES (null, #{staffId}, #{basicWage}, #{bonus}, #{date}, #{total})
    </insert>
</mapper>